.carousel {
	text-align: center;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.carouselContentList {
	list-style: none;
	height: 70rem;
	display: flex;
	flex-direction: column;
	justify-content: center;
	position: relative;
	padding: 0;
	margin: 0;
}

.carouselItem {
	position: absolute;
	width: 100%;
}

.carouselControlBox {
	border: none;
	padding: 0;
	margin: 0;
}

.carouselControl {
	color: inherit;
	width: 50%;
	background: none;
	font: inherit;
	outline: inherit;
	padding: 0;
	border: none;
	border-top: 1px solid #454545;
	border-bottom: 1px solid #454545;
}

.carouselControl:hover {
	background-color: silver;
	cursor: pointer;
}

@media (min-width: 450px) {
	.carouselContentList {
		height: 50rem;
	}
}

@media (min-width: 900px) {
	.carouselContentList {
		height: 40rem;
	}
}

@media (min-width: 1350px) {
	.carouselContentList {
		height: 35rem;
	}
}
