root {
	--animation-name: enterLeft;
}

.carousel {
	text-align: center;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.carouselContent {
	list-style: none;
	min-height: 500px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	overflow: hidden;
}

.hiddenCarouselItem {
	display: none;
}

.carouselControlBox {
	border: none;
	padding: 0;
	margin: 0;
}

.carouselControl {
	color: inherit;
	width: 50%;
	background: none;
	font: inherit;
	outline: inherit;
	padding: 0;
	border: none;
	border-top: 1px solid #454545;
	border-bottom: 1px solid #454545;
}

.carouselControl:hover {
	background-color: silver;
	cursor: pointer;
}

.animation {
	animation-duration: 0.1s;
	animation-name: var(--animation-name);
}

@keyframes exitLeft {
	from {
		margin-left: 0;
	}
	to {
		margin-left: 100%;
	}
}

@keyframes enterLeft {
	from {
		margin-left: 100%;
	}
	to {
		margin-left: 0;
	}
}

@keyframes exitRight {
	from {
		margin-right: 0;
	}
	to {
		margin-right: 100%;
	}
}

@keyframes enterRight {
	from {
		margin-right: 100%;
	}
	to {
		margin-right: 0;
	}
}
