.promptContainer {
	width: 100%;
	height: 100%;
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
}

.prompt {
	margin: 1%;
}

.contentContainer {
	width: 100%;
	height: 100%;
}

.footerLinkContainer {
	display: inline-flex;
	flex-direction: column;
	align-items: center;
	height: 100%;
}

.footerLink {
	text-align: center;
	display: block;
	width: 100%;
	height: 50%;
	padding-top: 0.5em;
	color: inherit;
}

.footerLink:hover {
	background-color: silver;
}

.footerLinkText {
	text-align: center;
	display: block;
	width: 100%;
	height: 50%;
	padding: 0 4px;
	margin: 0;
	font-size: 0.8em;
}

footer {
	margin-top: 10px;
	margin-bottom: 10px;
	border-top: 1px solid #454545;
	border-bottom: 1px solid #454545;
}
