#carouselsContainer {
	margin: 10px;
	position: relative;
	height: 80rem;
}

#categoryDescriptionsContainer {
	text-align: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
	position: relative;
	height: 28rem;
}

.carouselContainer {
	position: absolute;
	width: 100%;
}

.categoryDescription {
	position: absolute;
	width: 100%;
}

@media (min-width: 450px) {
	#carouselsContainer {
		height: 60rem;
	}
	#categoryDescriptionsContainer {
		height: 18rem;
	}
}

@media (min-width: 900px) {
	#carouselsContainer {
		height: 50rem;
	}
	#categoryDescriptionsContainer {
		height: 12rem;
	}
}

@media (min-width: 1350px) {
	#carouselsContainer {
		height: 45rem;
	}
	#categoryDescriptionsContainer {
		height: 7rem;
	}
}
