#navbar {
	list-style-type: none;
	padding: 0;
	overflow: hidden;
	border-top: 1px solid #454545;
	border-bottom: 1px solid #454545;
}

.navbarItem .navbarLink {
	display: block;
	text-align: center;
	text-decoration: none;
	color: #454545;
}

.navbarItem .navbarLink:hover {
	background-color: silver;
}
