.navbar {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	border-top: 1px solid;
	border-bottom: 1px solid;
}

.navbarItem {
	float: left;
}

.navbarItem .navbarLink {
	display: block;
	text-align: center;
}

.navbarItem .navbarLink:hover {
	background-color: silver;
}