:root {
	--transition-delay: 60s;
}

#all-philosophy-section-content {
	display: grid;
}

#normal-philosophy-section-content,
#hidden-philosophy-section-content {
	grid-row: 1;
	grid-column: 1;
}

#hidden-philosophy-section-content {
	visibility: hidden;
}

#philosophy-section-title:hover + #all-philosophy-section-content #normal-philosophy-section-content {
	visibility: hidden;
	transition-property: visibility;
	transition-delay: var(--transition-delay);
}

#philosophy-section-title:hover + #all-philosophy-section-content #hidden-philosophy-section-content {
	visibility: visible;
	transition-property: visibility;
	transition-delay: var(--transition-delay);
}
