.responsiveContainer {
	display: grid;
	/* 12 evenly spaced columns; 12 chosen because 12 has a large amount of ways to be divided */
	grid-template-columns: 8.333% 8.333% 8.333% 8.333% 8.333% 8.333% 8.333% 8.333% 8.333% 8.333% 8.333% 8.333%;
}

@media only screen and (max-width: 899px) {
	.responsiveContainer {
		grid-template-columns: 100%;
	}
}

.responsiveContainerItem {
	place-self: stretch;
}
