<footer th:fragment="footer">
    <div class="container-fluid col-md-12 bg-inverse rounded row">
        <div class="col-md-12 row">
            <h3 class="col-md-12 importantText">Contact me</h3>
        </div>
        <div class="inner-container rounded col-md-12" style="text-align:center; margin:5px">
            <a class="btn-social-icon" href="mailto:SaurabhTotey@gmail.com"><span class="fa fa-envelope-o"></span></a>
            <a class="btn-social-icon" href="tel:7206482674"><span class="fa fa-phone"></span></a>
            <a class="btn-social-icon" href="https://www.github.com/SaurabhTotey"><span class="fa fa-github"></span></a>
        </div>
    </div>
</footer>