<footer th:fragment="footer" class="container wide">
    <h3>Contact Me</h3>
    <br/>
    <div class="row">
        <div class="col-md-4">
            <a class="btn btn-block btn-dark" href="mailto:SaurabhTotey@gmail.com">
                <h5>Email</h5>
                <p>SaurabhTotey@gmail.com</p>
            </a>
        </div>
        <div class="col-md-4">
            <a class="btn btn-block btn-dark" href="tel:17206482674">
                <h5>Phone</h5>
                <p>+1-720-648-2674</p>
            </a>
        </div>
        <div class="col-md-4">
            <a class="btn btn-block btn-dark" href="https://www.github.com/SaurabhTotey/">
                <h5>GitHub</h5>
                <p>SaurabhTotey</p>
            </a>
        </div>
    </div>
    <br/>
    <p class="center">Source code for this website is available on <a href="https://github.com/SaurabhTotey/Portfolio-Website">GitHub.</a></p>
</footer>