<nav th:fragment="nav (page)" class="navbar navbar-expand-lg navbar-dark bg-dark rounded">
    <a class="navbar-brand" href="Home">Saurabh Totey</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarContent" aria-controls="navbarContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarContent">
        <ul class="navbar-nav mr-auto" th:with="pageList = ${ {'Home', 'Experience', 'Programming Projects', 'Music Pieces', 'Fun'} }">
            <li class ="nav-item" th:each="pageName : ${pageList}" th:classappend="${pageName} == ${page} ? 'active' : ''">
                <a class="nav-link importantText" th:href="${pageName}" th:text="${pageName}"></a>
            </li>
        </ul>
    </div>
</nav>