<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/header :: header"></head>

<body class="tall">

<nav th:replace="fragments/navbar :: nav ('Home')"></nav>

<br/>

<div class="container wide">
    <!--TODO: personal information/overview-->
    <h1>THIS PAGE IS STILL A WORK IN PROGRESS!</h1>
</div>

<br/>

<div class="container wide">
    <!--Interest selection dropdown-->
    <h1>Learn about my favorite</h1>
    <div class="dropdown center">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Interests
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item" th:each="interest : ${interests}" th:id="${interest.category} + 'dropDownOption'" th:text="${interest.category}" href="javascript:;"></a>
        </div>
    </div>
    <br/>
    <!--Invisible interest carousels-->
    <div th:each="category : ${interests}" class="container wide carousel slide" style="display:none" th:id="${category.category}" data-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item" th:each="item : ${category.items}" th:classappend="${item.name} == ${category.items[0].name} ? 'active' : ''">
                <h3 th:text="${item.name}"></h3>
                <div class="row">
                    <img class="center col-md-4" th:src="${item.image}" height="100%"/>
                    <p class="center col-md-8" th:text="${item.description}"></p>
                </div>
            </div>
        </div>
    </div>
    <!--JavaScript to handle linking the dropdown with the carousels-->
    <script>
        var notSelectedString = document.getElementById("dropdownMenuButton").innerText;
        var interestIds = Array.from(document.getElementsByClassName("dropdown-item")).map(function(item) { return item.id; });
        interestIds.forEach(function(interestId) {
            var element = document.getElementById(interestId);
            element.onclick = function () {
                var oldText = document.getElementById("dropdownMenuButton").innerText;
                document.getElementById("dropdownMenuButton").innerText = element.innerText;
                element.innerText = oldText;
                var currentText = document.getElementById("dropdownMenuButton").innerText;
                Array.from(document.getElementsByClassName("carousel")).forEach(function(carousel) { carousel.style.display = "none"; });
                if (currentText !== notSelectedString) {
                    document.getElementById(currentText).style.display = "";
                }
            }
        });
    </script>
</div>

<br/>

</body>

<br/>

<footer th:replace="fragments/footer :: footer"></footer>

</html>
