<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/header :: header"></head>

<body class="tall">

<nav th:replace="fragments/navbar :: nav ('Home')"></nav>

<br/>

<div class="container wide">
    <h1>THIS PAGE IS STILL A WORK IN PROGRESS!</h1>
</div>

<br/>

<div class="container wide">
    <h3>Learn about my favorite</h3>
    <div class="dropdown center">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Interests
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item" href="#" th:each="interest : ${interests}" th:text="${interest.category}"></a>
        </div>
    </div>
</div>

<br/>

</body>

<br/>

<footer th:replace="fragments/footer :: footer"></footer>

</html>
