<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/header :: header"></head>

<body class="background col-md-12 tall">

<nav th:replace="fragments/navbar :: nav ('Projects')"></nav>

<br/>

<h3>Language Breakdown</h3>
<table>
    <tr>
        <th>Language</th>
        <th>Bytes written</th>
    </tr>
    <tr th:each="language : ${languages}">
        <td th:text="${language.key}"></td>
        <td th:text="${language.value}"></td>
    </tr>
</table>

<br/>

<h3>Repositories</h3>
<table>
    <tr>
        <th>Repository Name</th>
        <th>Description</th>
        <th>URL</th>
    </tr>
    <tr th:each="repo : ${repos}">
        <td th:text="${repo.name}"></td>
        <td th:text="${repo.description}"></td>
        <td th:text="${repo.url}"></td>
    </tr>
</table>

<br/>

</body>

<footer th:replace="fragments/footer :: footer"></footer>

</html>