<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/header :: header"></head>

<body class="background col-md-12 tall">

<nav th:replace="fragments/navbar :: nav ('Projects')"></nav>

<br/>

<div class="container-fluid col-md-12 bg-inverse rounded row">
    <div class="col-md-12 row">
        <h3 class="col-md-12 importantText">Language Breakdown</h3>
    </div>
    <div class="inner-container rounded col-md-3">
        <div class="col-md-12 row">
            <h3 class="col-md-12">Raw Data</h3>
        </div>
        <table class="col-md-12 row">
            <tr>
                <th class="col-md-4">Language</th>
                <th class="col-md-8">Bytes written</th>
            </tr>
            <tr th:each="language : ${languages}">
                <td th:text="${language.key}"></td>
                <td th:text="${language.value}"></td>
            </tr>
        </table>
    </div>
</div>

<br/>

<div class="container-fluid col-md-12 bg-inverse rounded row">
    <div class="col-md-12 row">
        <h3 class = "col-md-12 importantText">Repositories</h3>
    </div>
    <div class="inner-container rounded col-md-12">
        <table class = "col-md-12 row">
            <tr>
                <th>Repository Name</th>
                <th>Description</th>
                <th>URL</th>
            </tr>
            <tr th:each="repo : ${repos}">
                <td th:text="${repo.name}"></td>
                <td th:text="${repo.description}"></td>
                <td th:text="${repo.url}"></td>
            </tr>
        </table>
    </div>
</div>

<br/>

</body>

<br/>

<footer th:replace="fragments/footer :: footer"></footer>

</html>