<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/header :: header"></head>

<body class="tall">

<nav th:replace="fragments/navbar :: nav ('Qualifications')"></nav>

<br/>

<div class="container wide">
    <h1>Saurabh Totey Résumé</h1>
    <br/>
    <br/>
    <h2>Education</h2>
    <div class="container wide">
        <div th:each="institution, institutionStatus : ${qualifications.education}">
            <h4 class="center" th:text="${institution.institution}"></h4>
            <br/>
            <h5 class="center" th:text="${institution.degree}"></h5>
            <p class="center" th:text="'Attended from ' + ${institution.start} + ' through ' + ${institution.end}"></p>
            <p class="center" th:if="${institution.gpa != null}" th:text="'Grade Point Average: ' + ${institution.gpa.toString()}"></p>
            <span th:if="${institutionStatus.index != qualifications.education.length - 1}"><br/><br/></span>
        </div>
    </div>
    <br/>
    <h2>Experience</h2>
    <div class="container wide">
        <div th:each="employment, employmentStatus : ${qualifications.experience}">
            <h4 class="center" th:text="${employment.name}"></h4>
            <br/>
            <p><h5 class="left">Objective: </h5><span th:text="${employment.objective}"></span></p>
            <p><h5 class="left">Role: </h5><span th:text="${employment.role}"></span></p>
            <h5 class="left">Contributions: </h5>
            <ul>
                <li th:each="contribution : ${employment.contributions}" th:text="${contribution}"></li>
            </ul>
            <span th:if="${employmentStatus.index != qualifications.experience.length - 1}"><br/><br/></span>
        </div>
    </div>
    <br/>
    <h2>Awards</h2>
    <div class="container wide">
        <div th:each="award, awardStatus : ${qualifications.awards}">
            <h4 class="center" th:text="${award.description}"></h4>
            <p class="center">
                <span th:each="year, yearStatus : ${award.years}" th:text="${year} + (${yearStatus.index} == ${award.years.length} - 1 ? '' : ', ')"></span>
            </p>
            <span th:if="${awardStatus.index != qualifications.awards.length - 1}"><br/></span>
        </div>
    </div>
    <br/>
    <h2>Affiliations</h2>
    <div class="container wide">
        <div th:each="affiliation, affiliationStatus : ${qualifications.affiliations}">
            <h4 class="center" th:text="${affiliation.name}"></h4>
            <h5 class="center" th:text="${affiliation.role.title} + ', ' + ${affiliation.role.duration} + ' year' + (${affiliation.role.duration} == 1? '' : 's')"></h5>
            <p class="center" th:text="${affiliation.start} + ' through ' + ${affiliation.end}"></p>
            <span th:if="${affiliationStatus.index != qualifications.affiliations.length - 1}"><br/></span>
        </div>
    </div>
    <br/>
    <h2>Languages</h2>
    <div class="container wide">
        <ul>
            <li th:each="language, languageStatus : ${qualifications.languages}">
                <h4 th:text="${language.name}"></h4>
                <p th:text="${language.proficiency}"></p>
            </li>
        </ul>
    </div>
    <br/>
    <h2>Volunteering</h2>
    <div class="container wide">
        <ul>
            <li th:each="volunteeringExperience, volunteeringExperienceStatus : ${qualifications.volunteering}">
                <h4 th:text="${volunteeringExperience.name}"></h4>
                <p th:text="'Hours: ' + ${volunteeringExperience.hours}"></p>
            </li>
        </ul>
    </div>
    <br/>
    <h2>Skills</h2>
    <div class="container wide">
        <ul>
            <li th:each="skill : ${qualifications.skills}">
                <h4 th:text="${skill}"></h4>
            </li>
        </ul>
    </div>
</div>

<br/>

</body>

<footer th:replace="fragments/footer :: footer"></footer>

</html>
